In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import combinations
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
ratings = pd.read_csv("ratings.csv", encoding='latin-1', usecols=['userId', 'movieId', 'rating'])
movies = pd.read_csv("movies.csv", encoding='latin-1' ,usecols=['movieId', 'title', 'genres'])

In [54]:
tf = TfidfVectorizer(analyzer=lambda s: (c for i in range(1,4)
                                             for c in combinations(s.split('|'), r=i)))
tfidf_matrix = tf.fit_transform(movies['genres'])

In [55]:
cosine_sim = cosine_similarity(tfidf_matrix)

In [56]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=movies['title'], columns=movies['title'])

In [44]:
ratings = pd.read_csv("ratings.csv", encoding='latin-1', usecols=['userId', 'movieId', 'rating'])
movies = pd.read_csv("movies.csv", encoding='latin-1' ,usecols=['movieId', 'title', 'genres'])

In [60]:
def genre_recommendations(i, M, items, k=10):
    ix = M.loc[:,i].to_numpy().argpartition(range(-1,-k,-1))
    closest = M.columns[ix[-1:-(k+2):-1]]
    closest = closest.drop(i, errors='ignore')
    return pd.DataFrame(closest).merge(items).head(k)

In [61]:
movies[movies.title.eq('Toy Story (1995)')]

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [62]:
genre_recommendations('Coco (2017)', cosine_sim_df, movies[['title', 'genres']])

,title,genres
0,Ice Age: A Mammoth Christmas (2011),Adventure|Animation|Children
1,Return to Never Land (2002),Adventure|Animation|Children
2,Digimon: The Movie (2000),Adventure|Animation|Children
3,Karlson Returns (1970),Adventure|Animation|Children
4,Balto (1995),Adventure|Animation|Children
5,Adventures of Mowgli: The Kidnapping (1968),Adventure|Animation|Children
6,Dinosaur (2000),Adventure|Animation|Children
7,Brother Bear (2003),Adventure|Animation|Children
8,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children
9,Pocahontas II: Journey to a New World (1998),Adventure|Animation|Children